<div class="basicrow">
  <div class="basicrow">
    <div class="htopbar">
      <div class="container vcenter">
        <div class="tabcell">
          <div class="autorow pull-left">
            <div class="autorow pull-left">
              <a href="#">Personas</a>
              <a class="on m-sides" href="#">Gesti&oacute;n de Servicio Universal Lifeline</a>
            </div>

            <div class="autorow pull-left t-blline">
              <div class="autorow pull-left">
                <span class="roboto-b">Comp Id:</span> 00001-CTI-Cellulars - <span class="roboto-b">Localidad:</span> REG-General
              </div>
            </div>
          </div>

          <div class="autorow pull-right">
            <div class="autorow pull-left">
              <img class="bandera" width="100%" src="../../../../assets/images/bandera.png">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="menubar">
      <div class="container">
        <div class="basicrow text-center">
          <a href="#" class="mc-logo">
								<span class="autocont vcenter">
									<span class="tabcell">
										<img width="100%" src="../../../../assets/images/claro-logo.png">
									</span>
								</span>
          </a>

          <a href="#" class="lifemenulink vcenter">
								<span class="tabcell">
									<i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesi&oacute;n
								</span>
          </a>


          <a href="#" class="lifemenulink vcenter">
								<span class="tabcell">
									<i class="fa fa-user" aria-hidden="true"></i> egs96418
								</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Servicio Universal / Validaci&oacute;n SSN
        </div>

        <div class="basicrow m-top-i m-bott text-center">
          <div class="stepsvlife">
            <div class="stepautoc first">
              Datos Personales

              <div class="stepcirc text-center">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc on secnd">
              Verificaci&oacute;n Seguro Social

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc">
              Datos de Direcci&oacute;n

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc">
              Registro de Caso

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc">
              Verificaci&oacute;n USF

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc">
              Digitalizaci&oacute;n de Documentos

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc">
              Crear<br/>
              Cuenta

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc">
              Aceptaci&oacute;n de T&eacute;rminos

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc">
              Vista Previa y Firma

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepautoc last">
              Activaci&oacute;n<br/><br/>

              <div class="stepcirc">
                <div class="circ-in"></div>
              </div>
            </div>

            <div class="stepsline"></div>
          </div>
        </div>

        <div class="basicrow text-center">
          <div class="shortcont">
            <div class="basicrow">
              <div class="redbgbadmsg">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

                El sistema ha identificado una o mas cuentas  existentes con los datos suministrados sin el beneficio Lifeline.
              </div>

              <div class="userinfo full">
                <div class="basicrow f-black roboto-b f-bmed">
                  Datos
                </div>

                <div class="redstat m-top">
                  <div class="autorow roboto-r pull-left">
                    Nombre
                  </div>

                  <div class="autorow roboto-b pull-right">
                    Miguel A Nieves Castillo
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    SSN
                  </div>

                  <div class="autorow roboto-b pull-right">
                    &#42;&#42;&#42;&#42;&#42;&#42;6511
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    N&uacute;mero de Cuenta
                  </div>

                  <div class="autorow roboto-b pull-right">
                    9898789097
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    Fecha de efectividad
                  </div>

                  <div class="autorow roboto-b pull-right">
                    01/01/2009
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    Posee Servicio Universal
                  </div>

                  <div class="autorow roboto-b pull-right">
                    NO
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    Tipo de Cuenta
                  </div>

                  <div class="autorow roboto-b pull-right">
                    Residencial
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    N&uacute;mero de tel&eacute;fono
                  </div>

                  <div class="autorow roboto-b pull-right">
                    7876778877
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="basicrow roboto-r">
                    Direcci&oacute;n actual del servicio
                  </div>

                  <div class="basicrow roboto-b m-top-ii">
                    COND ASHFORD PALACE - 1234 AVE ASHFORD APT 1A - SAN JUAN PR 00907-1234
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="row">
                  <div class="basicrow m-top-i">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                      &#191;Esta unidad pertenece al aplicante del Servicio Universal&#63;
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <div class="autorow pull-right">
                        <div class="popopt">
                          <input type="radio"> Si
                        </div>

                        <div class="popopt nomarg">
                          <input type="radio"> No
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="basicrow m-top-ii">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                      &#191;Desea abrir una nueva cuenta Prepago con beneficio Lifeline&#63;
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <div class="autorow pull-right">
                        <div class="popopt">
                          <input type="radio"> Si
                        </div>

                        <div class="popopt nomarg">
                          <input type="radio"> No
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="basicrow m-top-i">
                  <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                  <a href="#" class="btns def-i red pull-right vcenter">
												<span class="tabcell">
													Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
                  </a>

                  <a href="#" class="btns def-i gray pull-left vcenter">
												<span class="tabcell">
													<i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Regresar
												</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
