<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Validacion de Servicio Universal Prepago
        </div>

        <div class="basicrow m-top-i m-bott text-center">
          <app-steplife></app-steplife>
        </div>

        <div class="basicrow text-center">
          <div class="shortcont">
            <div class="basicrow">
              <div class="redbgbadmsg">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

                El sistema ha identificado una o mas cuentas existentes con los datos suministrados con el beneficio Lifeline.
              </div>

              <div class="userinfo full">
                <div class="basicrow f-black roboto-b f-bmed">
                  Datos
                </div>

                <div class="redstat m-top">
                  <div class="autorow roboto-r pull-left">
                    Nombre
                  </div>

                  <div class="autorow roboto-b pull-right">
                    {{validateSSNData.dataObject[0].name}}
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    SSN
                  </div>

                  <div class="autorow roboto-b pull-right">
                    &#42;&#42;&#42;&#42;&#42;&#42;{{validateSSNData.dataObject[0].ssn}}
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    N&uacute;mero de Cuenta
                  </div>

                  <div class="autorow roboto-b pull-right">
                    {{validateSSNData.dataObject[0].ban}}
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    Fecha de efectividad
                  </div>

                  <div class="autorow roboto-b pull-right">
                    <!--01/01/2009-->
                    {{getFormatDateCustom(validateSSNData.dataObject[0].lifelineActivationDate)}}
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    Posee Servicio Universal
                  </div>

                  <div class="autorow roboto-b pull-right">
                    <!--NO-->
                    {{validateSSNData.response === 'True' ? 'SI': 'NO'}}
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    Tipo de Cuenta
                  </div>

                  <div class="autorow roboto-b pull-right">
                    {{validateSSNData.dataObject[0].accountType}}
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    N&uacute;mero de tel&eacute;fono
                  </div>

                  <div class="autorow roboto-b pull-right">
                    {{validateSSNData.dataObject[0].subscriberNumber}}
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="basicrow roboto-r">
                    Direcci&oacute;n actual del servicio
                  </div>

                  <div class="basicrow roboto-b m-top-ii">
                    {{validateSSNData.dataObject[0].address}}
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="row">
                  <div class="basicrow m-top-i">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                      &#191;Esta unidad pertenece al aplicante del Servicio Universal&#63;
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <div class="autorow pull-right">
                        <div class="popopt">
                          <input type="radio" name="universalServicesUnitApplicant" [value]="true" [(ngModel)]="universalServicesUnitApplicant" [formControl]="form.controls['universalServicesUnitApplicant']"> Si
                        </div>

                        <div class="popopt nomarg">
                          <input type="radio" name="universalServicesUnitApplicant" [value]="false" [(ngModel)]="universalServicesUnitApplicant" [formControl]="form.controls['universalServicesUnitApplicant']"> no
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="basicrow m-top-ii">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                      &#191;Desea abrir una nueva cuenta Prepago con beneficio Lifeline&#63;
                    </div>

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <div class="autorow pull-right">
                        <div class="popopt">
                          <input type="radio" name="prepaidAccountCreation" [value]="true" [(ngModel)]="prepaidAccountCreation" [formControl]="form.controls['prepaidAccountCreation']"> Si
                        </div>

                        <div class="popopt nomarg">
                          <input type="radio" name="prepaidAccountCreation" [value]="false" [(ngModel)]="prepaidAccountCreation" [formControl]="form.controls['prepaidAccountCreation']"> No
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="basicrow m-top-i">
                  <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                  <a (click)="goToHome()" class="btns def-i red pull-right vcenter">
												<span class="tabcell">
													Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
                  </a>

                  <a (click)="goToHome()" class="btns def-i gray pull-left vcenter">
												<span class="tabcell">
													<i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Regresar
												</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
