<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Consultar Caso USF
        </div>

        <div class="basicrow text-center">
          <div class="basicrow f-lbig f-black roboto-m text-left">
            Bienvenido/a, <span class="f-red" (click)="getCasesUSF()">Bethzaida</span>
          </div>
        </div>

        <div class="def-filtrs">
          <input
            class="inp-f"
            maxlength="50"
            placeholder="Nro de USF"
            type="number"
            style="width: 125px;"
            [(ngModel)]="numberUSF"
          />

          <div class="autorow pull-left m-right f-reg m-left m-top-u-iii">
            <!-- <i class="fa fa-calendar filtr-calendar" aria-hidden="true"></i> -->
            <input
              type="text"
              name="rangedate"
              class="f-gray-ii roboto-b inp-f"
              style="width: 15em;margin-left: 3em;"
              id="rangedate"
              placeholder="Enero 01, 2018 - Enero 23 2018"
            />
            <!-- <span class="f-gray-ii roboto-b">Enero 01, 2018 - Enero 23 2018</span> -->
          </div>

          <select
            name="status_selected"
            class="sel-f sufix ng-pristine ng-invalid ng-touched"
            style="width:200px;"
            [(ngModel)]="statusSelected"
          >
            <option *ngFor="let opt of status; let i = index">{{ opt }}</option>
          </select>

          <input
            class="inp-f"
            maxlength="50"
            placeholder="Nombre de Cliente"
            type="text"
            style="width: 15em;margin-left: 3em;"
            [(ngModel)]="nameToSearch"
          />

          <a href="#" class="btns def-i red pull-left vcenter m-left-i">
            <span class="tabcell"> Buscar&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i> </span>
          </a>

          <a href="#" class="btns def-i blue pull-right vcenter"> <span class="tabcell"> Exportar </span> </a>
        </div>

        <div class="basicrow m-top-i">
          <div class="basicrow">
            <div class="autorow pull-left f-tabletitle f-black roboto-r">Administraci&oacute;n de mis solicitudes​</div>

            <div class="autorow pull-right">
              <a href="#" class="tablepages off vcenter"> <span class="tabcell"> << </span> </a>

              <a href="#" class="tablepages off vcenter"> <span class="tabcell"> < </span> </a>

              <a href="#" class="tablepages on vcenter"> <span class="tabcell"> 1 </span> </a>

              <a href="#" class="tablepages vcenter"> <span class="tabcell"> 2 </span> </a>

              <a href="#" class="tablepages vcenter"> <span class="tabcell"> 3 </span> </a>

              <a href="#" class="tablepages vcenter"> <span class="tabcell"> > </span> </a>

              <a href="#" class="tablepages vcenter"> <span class="tabcell"> >> </span> </a>
            </div>
          </div>

          <div class="allcont-gline m-top">
            <div class="tablebartitle">
              <div class="consult-col-i consult-brline text-center vcenter"><div class="tabcell">Nro de USF</div></div>

              <div class="consult-col-i consult-brline text-center vcenter"><div class="tabcell">BAN</div></div>

              <div class="consult-col-ii consult-brline text-center vcenter">
                <div class="tabcell">Fecha Registro de USF</div>
              </div>

              <div class="consult-col-iii consult-brline text-left vcenter">
                <div class="tabcell">Nombre y Apellido Cliente</div>
              </div>

              <div class="consult-col-iv consult-brline text-left vcenter"><div class="tabcell">Estatus</div></div>

              <div class="consult-col-v text-center vcenter"><div class="tabcell">Acci&oacute;n</div></div>
            </div>

            <div
              *ngFor="let iten of data_conten"
              class="tablecols {{iten.classCss}}"
              [ngClass]="{
                oculta: validacionOcultarRow(iten.status, iten.fullName),
                muestra: statusSelected == 'ESTATUS' || statusSelected == iten.status
              }"
            >
              <div class="consult-col-i consult-grline text-center vcenter">
                <div class="tabcell">{{ iten.caseID }}</div>
              </div>

              <div class="consult-col-i consult-grline text-center vcenter">
                <div class="tabcell">{{ iten.ban }}</div>
              </div>

              <div class="consult-col-ii consult-grline text-center vcenter">
                <div class="tabcell">{{ iten.date }}</div>
              </div>

              <div class="consult-col-iii consult-grline text-left vcenter">
                <div class="tabcell">{{ iten.fullName }}</div>
              </div>

              <div class="consult-col-iv consult-grline text-left roboto-b vcenter">
                <div class="tabcell">{{ iten.status }}</div>
              </div>

              <div class="consult-col-v text-center vcenter">
                <div class="tabcell">
                  <a href="#" class="act-tbutton"> <i class="fa fa-file-text" aria-hidden="true"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="basicrow m-top-i m-bott">
          <a (click)="goToHome()" class="btns def-i gray pull-left vcenter">
            <span class="tabcell"> <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Reiniciar </span>
          </a>

          <div class="autorow pull-right roboto-b f-gray-ii f-med">10 / 50</div>
        </div>
      </div>
    </div>
  </div>
</div>
