<div class="popupbg" *ngIf="firmInput">
  <div class="popupcont morew-iic">
    <div class="basicrow f-reg f-black roboto-r text-justify">
      Con este consentimiento <span class="roboto-b">AUTORIZO</span> el uso de mis iniciales y firmas en formato
      electr&oacute;nico, y <span class="roboto-b">CERTIFICO</span> que son de m autor&iacute;a como si estuvieran en
      manuscrito. Espec&iacute;ficamente, <span class="roboto-b">ACEPTO</span> que el uso de mis iniciales y firma
      electr&oacute;nica para los prop&oacute;sitos de esta solicitud es legal y vinculante, y que no se le
      restar&aacute; efecto o validez al mismo por el hecho de estar en formato electr&oacute;nico.
    </div>

    <div class="basicrow">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="basicrow m-top-i">
            <label class="label-f">&#42; Iniciales</label>

            <input class="inp-f " type="text" [(ngModel)]="iniciales" />
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="basicrow m-top-i">
            <label class="label-f">&#42; Fecha</label>

            <div class="basicrow rel">
              <i class="fa fa-calendar inpcal-icon" aria-hidden="true" (click)="activarFecha()"></i>

              <input class="inp-f qt" [(ngModel)]="fechaN" id="fechaN" (click)="activarFecha()" />
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="basicrow msidespad">
            <div class="autowcont lifehomedef m-top">
              <div class="basicrow msidespad">
                <div class="b-title">
                  <div class="autocont f-black roboto-m f-bmed pull-left vcenter">
                    <div class="tabcell">
                      <img
                        width="100%"
                        class="lifehomeicons"
                        style="cursor: default;user-select: none;"
                        src="../../assets/images/lifecrt-icon.png"
                      />

                      <div class="autorow pull-left m-top-u" style="cursor: default;user-select: none;">
                        Firma Digital
                        <button class="btn btn-default" (click)="ngAfterViewInit()"><i class="fa fa-trash"></i></button>
                        <button class="btn btn-success" (click)="drawCompleteSave()"><i class="fa fa-save"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow msidespad f-black roboto-r f-reg m-top-u-i">
                <signature-pad
                  [options]="signaturePadOptions"
                  (onBeginEvent)="drawStart()"
                  (onEndEvent)="drawComplete()"
                ></signature-pad>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basicrow text-center m-top-i">
      <a
        (click)="goToActivation()"
        [ngClass]="{
          btns: true,
          'def-i': true,
          red: validateSing(),
          gray: !validateSing(),
          centr: true,
          vcenter: true
        }"
      >
        <span class="tabcell"> Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> </span>
      </a>
    </div>
  </div>
</div>

<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Activación de Servicio Universal Prepago
        </div>

        <div class="basicrow m-top-i m-bott text-center"><app-steplife></app-steplife></div>

        <div class="basicrow" *ngIf="!step2">
          <div class="basicrow f-lbig f-black roboto-m text-left">Formulario Hoja de Hogar (Programa de Lifeline)</div>

          <div class="basicrow m-top-i">
            <iframe
              [src]="
                sanitizer.bypassSecurityTrustResourceUrl(
                  'https://wslife00042ws.claroinfo.com/FrmHogar.aspx?Number=' + userId + '&Case=' + caseId
                )
              "
              width="100%"
              data="../../../../assets/Claro.pdf"
              type="application/pdf"
              style="min-height:600px; height: -webkit-fill-available;"
              style="height: -webkit-fill-available;"
            >
              <!-- <embed src="../../../../assets/Claro.pdf" type="application/pdf" /> -->
            </iframe>
            <!-- <object -->
            <!-- width="100%" -->
            <!-- data="../../../../assets/Claro.pdf" -->
            <!-- type="application/pdf" -->
            <!-- style="height: -webkit-fill-available;" -->
            <!-- &gt; -->
            <!-- <embed src="../../../../assets/Claro.pdf" type="application/pdf" /> -->
            <!-- </object> -->
            <!-- <img width="100%" src="../../../../assets/images/firmamock.png"> -->
          </div>

          <div class="basicrow">
            <div class="basicrow text-center m-top-i">
              <a (click)="goToStep2()" class="btns def-i red pull-right vcenter">
                <span class="tabcell"> Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> </span>
              </a>

              <a (click)="goToHome()" class="btns def-i gray pull-left vcenter">
                <span class="tabcell"> <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Reiniciar </span>
              </a>
            </div>
          </div>
        </div>

        <div class="basicrow" *ngIf="step2">
          <div class="basicrow f-lbig f-black roboto-m text-left">
            Formulario de Aplicaci&oacute;n (Programa de Lifeline)
          </div>

          <div class="basicrow m-top-i">
            <iframe
              [src]="
                sanitizer.bypassSecurityTrustResourceUrl(
                  'https://wslife00042ws.claroinfo.com/FrmHogar.aspx?Number=' + userId + '&Case=' + caseId
                )
              "
              width="100%"
              data="../../../../assets/Claro.pdf"
              type="application/pdf"
              style="min-height:600px; height: -webkit-fill-available;"
              style="height: -webkit-fill-available;"
            >
              <!-- <embed src="../../../../assets/Claro.pdf" type="application/pdf" /> -->
            </iframe>

            <!-- <object -->
            <!-- width="100%" -->
            <!-- data="../../../../assets/Claro.pdf" -->
            <!-- type="application/pdf" -->
            <!-- style="height: -webkit-fill-available;" -->
            <!-- &gt; -->
            <!-- <embed src="../../../../assets/Claro.pdf" type="application/pdf" /> -->
            <!-- </object> -->
            <!-- <img width="100%" src="../../../../assets/images/firmamock2.png"> -->
          </div>

          <div class="basicrow">
            <div class="basicrow text-center m-top-i">
              <a (click)="showFirmInput()" class="btns def-i red pull-right vcenter">
                <span class="tabcell"> Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i> </span>
              </a>

              <a (click)="goToHome()" class="btns def-i gray pull-left vcenter">
                <span class="tabcell"> <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Reiniciar </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
