<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Servicio Universal / Validaci&oacute;n SSN
        </div>

        <div class="basicrow m-top-i m-bott text-center">
          <app-steplife></app-steplife>
        </div>

        <div class="basicrow text-center">
          <div class="shortcont">
            <div class="basicrow">
              <div class="basicrow text-center">
                <div class="rdtitles">
                  <span class="roboto-b">Confirmaci&oacute;n</span>
                </div>
              </div>

              <div class="greenmsg m-top-i">
                <i class="fa fa-check-circle staytop" aria-hidden="true"></i>

                <span class="roboto-b">Miguel Nieves</span><br/><br/>

                Tu solicitud de Servicio Universal se encuentra en proceso de aprobaci&oacute;n bajo el <span class="roboto-b">N&uacute;mero de Caso: 123456.</span><br/><br/>

                <span class="roboto-b">Su N&uacute;mero de Cuenta en Claro: 7890000331.</span><br/><br/>

                <span class="roboto-b">Su N&uacute;mero de Tel&eacute;fono Prepago ya esta activo y listo para su uso: 7875332222.</span><br/><br/>

                De requerir informaci&oacute;n adicional un agente de servicio al cliente estar&aacute; en contacto con usted.
              </div>

              <div class="basicrow">
                <div class="basicrow text-center m-top-u">
                  <a href="#" class="btns def-i red centr vcenter">
												<span class="tabcell">
													Finalizar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
