<!--[INIT LOADING DATOS DE DIRECCION 1]>

<div class="popupbg">
  <div class="popupcont morew">
    <div class="basicrow text-center">
      <img width="100%" class="bigclarogif" src="images/claroloadgif.gif">
    </div>

    <div class="basicrow f-bmed f-black roboto-r">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
          <div class="basicrow m-top-i text-center">
            <img width="100%" class="loadongoin" src="images/gload.gif"> Inicia Proceso de Validaci&oacute;n USPS
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<![END LOADING DATOS DE DIRECCION 1]-->



<!--[INIT POPUP VERIFICACION DE DIRECCION]>

<div class="popupbg">
  <div class="popupcont">
    <div class="basicrow f-black f-lbig roboto-m">
      Verificaci&oacute;n de Direcci&oacute;n
    </div>

    <div class="basicrow f-reg f-black roboto-r">
      <div class="basicrow">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="basicrow roboto-b m-top-i">
              Direcci&oacute;n F&iacute;sica Ingresada:
            </div>

            <div class="optchoice on roboto-r text-left">
              <div class="checkdef">
                <input type="radio" name="radioG1" id="radioG1" class="css-radio" checked/><label for="radioG1" class="css-label3 radGroup1"></label>
              </div>

              <div class="basicrow f-reg roboto-b">
                URB HERMOSILLO<br/>
                123 CALLE 1<br/>
                BAYAMÓN PR 00961-1212
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="basicrow m-top">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="basicrow roboto-b m-top-i">
              Direcci&oacute;n Postal Ingresada:
            </div>

            <div class="optchoice on roboto-r text-left">
              <div class="checkdef">
                <input type="radio" name="radioG2" id="radioG2" class="css-radio" checked/><label for="radioG2" class="css-label3 radGroup1"></label>
              </div>

              <div class="basicrow f-reg roboto-b">
                RESD LAS GLADIOLAS<br/>
                CALLE A 150<br/>
                SAN JUAN PR 00926-3232
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="basicrow roboto-b m-top-i">
              Direcci&oacute;n F&iacute;sica Sugerida:
            </div>

            <div class="optchoice roboto-r text-left">
              <div class="checkdef">
                <input type="radio" name="radioG3" id="radioG3" class="css-radio" /><label for="radioG3" class="css-label3 radGroup1"></label>
              </div>

              <div class="basicrow f-reg roboto-b">
                URB HERMOSILLO<br/>
                123 CALLE 1<br/>
                BAYAMÓN PR 00961-1212
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="basicrow">
        <div class="basicrow m-top-i">
          <div class="logline full"></div>
        </div>

        <div class="basicrow text-center m-top-i">
          <a href="#" class="btns def-i red centr vcenter">
								<span class="tabcell">
									Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<![END POPUP VERIFICACION DE DIRECCION]-->



<!--[INIT LOADING DATOS DE DIRECCION 2]>

<div class="popupbg">
  <div class="popupcont morew">
    <div class="basicrow text-center">
      <img width="100%" class="bigclarogif" src="images/claroloadgif.gif">
    </div>

    <div class="basicrow f-bmed f-black roboto-r">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
          <div class="basicrow m-top-i text-center">
            <img width="100%" class="loadongoin" src="images/gload.gif"> Inicia el Proceso de Validaci&oacute;n MAILPREP
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<![END LOADING DATOS DE DIRECCION 2]-->



<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Servicio Universal / Validaci&oacute;n SSN
        </div>

        <div class="basicrow m-top-i m-bott text-center">
          <app-steplife></app-steplife>
        </div>

        <div class="basicrow text-center">
          <div class="shortcont">
            <div class="basicrow">
              <div class="basicrow f-lbig f-black roboto-m">
                Direcci&oacute;n F&iacute;sica
              </div>

              <div class="basicrow m-top">
                <label class="label-f">&#42; &#191;Es una direcci&oacute;n temporal&#63;</label>

                <div class="basicrow m-top-u-i f-reg f-black roboto-r">
                  <div class="popopt">
                    <input type="radio"> Si
                  </div>

                  <div class="popopt">
                    <input type="radio"> No
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; &#191;Cu&aacute;l es la direcci&oacute;n de tu casa&#63;</label>

                        <div class="basicrow rel">
                          <img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" width="100%" class="q-t" src="images/tooltip1.png">

                          <input placeholder="N&uacute;mero y Nombre de Calle" class="inp-f qt">
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                      <div class="basicrow m-top-iii">
                        <div class="basicrow">
                          <input placeholder="Dpto/Unidad/Otro" class="inp-f">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; Ciudad</label>

                        <div class="basicrow">
                          <select class="sel-f">
                            <option>Seleccionar</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <div class="basicrow m-top-i">
                        <div class="basicrow">
                          <label class="label-f">&#42; Estado</label>

                          <select class="sel-f">
                            <option>Seleccionar</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <div class="basicrow m-top-i">
                        <div class="basicrow">
                          <label class="label-f">&#42; C&oacute;digo Postal</label>

                          <input class="inp-f">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; N&uacute;mero de Contacto 1</label>

                        <input class="inp-f ">
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; N&uacute;mero de Contacto 2</label>

                        <div class="basicrow rel">
                          <input class="inp-f ">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow m-top-i">
                <label class="label-f">&#42; Correo Electr&oacute;nico</label>

                <div class="basicrow">
                  <input class="inp-f">
                </div>
              </div>

              <div class="basicrow m-top-i">
                <label class="label-f">&#42; &#191;Cu&aacute;l es la mejor manera de contactarte&#63;</label>

                <div class="basicrow m-top-u-i f-reg f-black roboto-r">
                  <div class="popopt">
                    <input type="radio"> Correo Electr&oacute;nico
                  </div>

                  <div class="popopt">
                    <input type="radio"> Tel&eacute;fono
                  </div>

                  <div class="popopt">
                    <input type="radio"> Mensaje de texto
                  </div>

                  <div class="popopt">
                    <input type="radio"> Correo
                  </div>
                </div>
              </div>

              <div class="basicrow m-top-i">
                <label class="label-f">&#42; &#191;La direcci&oacute;n ingresada es la misma a su direcci&oacute;n Postal&#63;</label>

                <div class="basicrow m-top-u-i f-reg f-black roboto-r">
                  <div class="popopt">
                    <input type="radio"> Si
                  </div>

                  <div class="popopt">
                    <input type="radio" checked> No
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; &#191;Cu&aacute;l es la direcci&oacute;n postal&#63;</label>

                        <div class="basicrow rel">
                          <img data-toggle="popover" data-html="true" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." data-placement="bottom" width="100%" class="q-t" src="images/tooltip1.png">

                          <input placeholder="N&uacute;mero y Nombre de Calle" class="inp-f qt">
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                      <div class="basicrow m-top-iii">
                        <div class="basicrow">
                          <input placeholder="Dpto/Unidad/Otro" class="inp-f">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; Ciudad</label>

                        <div class="basicrow">
                          <select class="sel-f">
                            <option>Seleccionar</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <div class="basicrow m-top-i">
                        <div class="basicrow">
                          <label class="label-f">&#42; Estado</label>

                          <select class="sel-f">
                            <option>Seleccionar</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <div class="basicrow m-top-i">
                        <div class="basicrow">
                          <label class="label-f">&#42; C&oacute;digo Postal</label>

                          <input class="inp-f">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="basicrow">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; N&uacute;mero de Contacto 1</label>

                        <input class="inp-f ">
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <div class="basicrow m-top-i">
                        <label class="label-f">&#42; N&uacute;mero de Contacto 2</label>

                        <div class="basicrow rel">
                          <input class="inp-f ">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="basicrow m-top-i">
                  <div class="logline full"></div>
                </div>

                <div class="basicrow text-center m-top-i">
                  <a href="#" class="btns def-i red pull-right vcenter">
												<span class="tabcell">
													Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
                  </a>

                  <a href="#" class="btns def-i gray pull-left vcenter">
												<span class="tabcell">
													<i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Regresar
												</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
