<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Servicio Universal / Registro de Solicitud
        </div>

        <div class="basicrow m-top-i m-bott text-center">
          <app-steplife></app-steplife>
        </div>

        <div class="basicrow text-center">
          <div class="shortcont">
            <div class="basicrow">
              <div class="basicrow text-center">
                <div class="rdtitles">
                  <span class="roboto-b">&#161;Gracias</span> por tu solicitud&#33;
                </div>
              </div>

              <div class="greenmsg m-top-i">
                <i class="fa fa-check-circle" aria-hidden="true"></i>

                Hemos registrado tu Solicitud Servicio Universal con <span class="roboto-b">N&uacute;mero de Caso: 123456</span>
              </div>

              <div class="userinfo full">
                <div class="basicrow f-black roboto-b f-bmed">
                  Resumen de Registro
                </div>

                <div class="redstat m-top">
                  <div class="autorow roboto-r pull-left">
                    Nombre
                  </div>

                  <div class="autorow roboto-b pull-right">
                    Miguel A Nieves Castillo
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    SSN
                  </div>

                  <div class="autorow roboto-b pull-right">
                    &#42;&#42;&#42;&#42;&#42;&#42;6511
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="autorow roboto-r pull-left">
                    Fecha de Nacimiento
                  </div>

                  <div class="autorow roboto-b pull-right">
                    01/01/1991
                  </div>
                </div>

                <div class="redstat m-top-ii">
                  <div class="basicrow roboto-r">
                    Direcci&oacute;n
                  </div>

                  <div class="basicrow roboto-b m-top-ii">
                    COND ASHFORD PALACE - 1234 AVE ASHFORD APT 1A - SAN JUAN PR 00907-1234
                  </div>
                </div>
              </div>

              <div class="basicrow m-top-u">
                <div class="optchoice roboto-r text-left">
                  <div class="checkdef">
                    <input type="checkbox" name="radioG1" id="radioG1" class="css-radio" [(ngModel)]="dependPeopleFlag" /><label for="radioG1" class="css-label3 radGroup1"></label>
                  </div>

                  <div class="basicrow f-med roboto-b">
                    Marca esta casilla si estas calificando a través de tu hijo o un dependiente en tu hogar.
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="basicrow text-center m-top-i">
                  <a (click)="goToUsfVerification()" class="btns def-i red pull-right vcenter">
												<span class="tabcell">
													Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
                  </a>

                  <a (click)="goToAddressDate()" class="btns def-i gray pull-left vcenter">
												<span class="tabcell">
													<i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Regresar
												</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
